.logo-container {
	text-align: center;
	margin-bottom: 10px;
}

.ad-container {
	text-align: center;
}


.ban-reason {
	font-weight: bold;
	padding-left: 14px;
}

/*body {
	padding-top: 50px;
}*/

#messages {
	margin-bottom: 10px;

	position: absolute;
	left: 50%;
	margin-left: -250px;
	width: 500px;

	z-index: 100000;
}

#messages > div.alert {
	margin-top: 0;
	margin-bottom: 0;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#messages:last-child {
	-webkit-border-bottom-right-radius: 4px !important;
	-webkit-border-bottom-left-radius: 4px !important;
	-moz-border-radius-bottomright: 4px !important;
	-moz-border-radius-bottomleft: 4px !important;
	border-bottom-right-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}


.user-info > * {
	color: #117743;
	font-weight: bold;
}

.user-info[data-capcode="admin"] > * {
	color: #FF4F4F;
}

.tripcode {
	color: #228854;
	font-weight: normal;
}

.post-subject {
	color: red;
	font-weight: bold;
}

.comment-well {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 8px;
	padding-top: 7px;
	padding-bottom: 6px;
}


.capcode:before {
	content: "## ";
}


.post-number:before {
	content: "No. ";
}

.post-comment {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
}


.thread-toolbar {
	display: inline-block;
	margin: auto 10px;
}


.bottom-ad {
	margin-top: 25px;
}

#theme-selector-menu > li > a {
	cursor: pointer;
}