block content_head
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container
				a.brand chan
				ul.nav
					li: a(href="/") Home

				ul.nav.pull-right
					if user_is_admin
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown") Admin
								b.caret
							ul.dropdown-menu
								li
									a(href="/admin/ban") Ban
					if user
						li: a(href="/logout") Logout
					else
						li: a(href="/login") Login
	div.row
		div.span12.logo-container
			img.logo(src="/static/#{version_id}/img/logo.gif", width="300", height="100", alt="Logo here")
	if not db_writes_enabled
		div.row
			div.span12
				div.alert Our database is temporarily read-only.