block head
	title chan
	link(rel="stylesheet", href="/static/#{version_id}/css/bootstrap.css")
	link(rel="stylesheet", href="/static/#{version_id}/css/chan.css")
	link(rel="stylesheet", href="/static/#{version_id}/css/bootstrap-responsive.css")
	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js")
	script(type="text/javascript", src="/static/#{version_id}/js/bootstrap.js")